# environment
venv
nlp_hf_ch01.ipynb:Zone.Identifier
nlp_hf_ch02.ipynb:Zone.Identifier
Natural language processing with Transformers _ building -- Lewis Tunstall, Leandro von Werra, Thomas Wolf -- Revised edition, Sebastopol, CA, 2022 -- 9781098103170 -- 0060a3b3e6eaec8c73a59ce5fe80bddf -- Anna.pdf